*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(120deg,#f6d365, #fda085 );
}
header{
    font-size: 20px;
}
header,
form{
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-input{
    height: 50px;
    width: 500px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
}
form button{
    height: 50px;
    width: 50px;
    background-color: #f6d365;
    color: white;
    font-size: 30px;
    border: none;
    transition: all .3s ease;
}
form button:hover{
    color: #f6d365;
    background-color: white;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    width: 500px;
    list-style: none;
}
.todo{
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
     
}
.todo li{
    flex: 1 ;
}
.trash-btn, .complete-btn{
    background-color: #f6d365;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 10px;

}
.complete-btn{
    background-color: green;
}
.todo-item {
    margin: 0 10px;
}
.fa-trash,
.fa-check{
    pointer-events: none;
}


.fall {
    transform: translateY(8rem) rotateZ( 20deg );
    opacity: 0 ;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    padding: 10px;
    border: none;
    outline: none;
   
}
.select{
    margin: 10px;
    position: relative;
    overflow: hidden;
}
select{
    width: 150px;
    cursor: pointer;
    color: #fda085;
    padding: 10px;
} 
.select::after{
    content: '\25BC';
    position: absolute;
    background-color: #e98165;
    top: 0;
    padding: 10px;
    right: 0;
    pointer-events: none;
    transition: all .3s ease;
   
    
}
.select:hover::after{
    background-color: white;
    color:#fda085; ;
}


